XSLT Practical Task 1/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Education">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Country" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="City" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Organization" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Person" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="id" type="xs:integer" use="required"/>
                              <xs:attribute name="Name" type="xs:string" use="required"/>
                              <xs:attribute name="Surname" type="xs:string" use="required"/>
                              <xs:attribute name="BirthYear" type="xs:integer" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required"/>
                        <xs:attribute name="id" type="xs:integer" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
