xslt practical task 2/Example_B_Source.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="PaymentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PaymentItem" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="CustomerID" type="xs:string" use="required"/>
            <xs:attribute name="Amount" type="xs:decimal" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>